<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qinyaoz.hongya">

    <application>
        <activity android:name=".ui.activity.PhotoActivity"></activity>
        <activity android:name=".ui.activity.IndexActivity" />
    </application>

</manifest>